@font-face {
font-family: 'Oswald';
src: url('Oswald-Light.ttf');
}

@font-face {
font-family: 'National-park';
src: url('NationalPark-Bold.ttf')

}

h1, h2, h3, h4, h5, h6 {
font-family: 'Oswald', sans-serif;
}

body, p, span, div {
    font-family: 'National-park', sans-serif;
}










































body { 
    background-color : #f2f2f2;
    margin-left: 64px;
    margin-right: 64px;
    color: #333;
    font-family: Arial, sans-serif;
}
  
 h1 {
    font-size: 60px;
    color: #004080;
 }

 h2 {
    font-size: 48px;
    color: #004080;
  }

h3 { 
    font-size: 32px;
    color: #004080;
}
h4 {
    font-size: 18px;
    color: #004080
}
h5, h6 {
    color: #004080


}


 section {
    background-color: #ffffff;
    border: 1px solid #8ca4e7;
    padding: 20px;
    margin-bottom: 20px;
 }
 a { 
    color: #FF5733; 
}

a:hover { 
    color: #FF7F50; 
}

a:visited { 
    color: #46486b; 
}


button { 
    background-color: #FF5733; 
    color: #FFFFFF; 
}

button:hover { 
    background-color: #FF7F50;
}
h2 {
    margin: 0px;
    padding: 0px;
}

.container > div.nav {
    grid-area: nav;
    padding: 1em 1em 1em 1.5em;
    
  }
  a {
    margin: 0 1.5em;

}
.menu {
    margin: 0 2em 3em 3em
}
.menu a {
display: block;
margin: 2em 0 0em 0 
}

.content {
    margin: 5em 0 0 3em


}
.footer a {
display: inline-block;
margin: 3em 0 3em 2em


}
.footer {
text-align:center;
}


@media (min-width: 641px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    body {
        margin-left: 64px;
        margin-right: 64px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 48;
    }
    h3 {
        font-size: 32;
    }
    h4 {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    nav ul {
        display: block;
        
    }
    .nav > a {
        display: block;
    }
    body {
        margin-left: 16px;
        margin-right: 16px;
    }
    h1 { 
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
}


