body { 
    background-color : #f2f2f2;
    margin-left: 64px;
    margin-right: 64px;
    color: #333;
    font-family: Arial, sans-serif;
}
  
 h1 {
    font-size: 60px;
    color: #004080;
 }

 h2 {
    font-size: 48px;
    color: #004080;
  }

h3 { 
    font-size: 32px;
    color: #004080;
}
h4 {
    font-size: 18px;
    color: #004080
}
h5, h6 {
    color: #004080


}


 section {
    background-color: #ffffff;
    border: 1px solid #8ca4e7;
    padding: 20px;
    margin-bottom: 20px;
 }
 a { 
    color: #FF5733; 
}

a:hover { 
    color: #FF7F50; 
}

a:visited { 
    color: #46486b; 
}


button { 
    background-color: #FF5733; 
    color: #FFFFFF; 
}

button:hover { 
    background-color: #FF7F50;
}